.shope-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 50px;
}
.cart-container{
    background-color:#d8bd93;
    color:black;
    width:264px;
    height:944px;
    text-align: center;
}
.order-summary-bar{
    font-size: 20px;
    font-family: 'Lato';
}
